button{
    width: 100px;
    height: 80px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
    user-select: none;/* Disable text selection,visual pollution*/
}
.zero{
    grid-column: 1/3;
    width: 200px;
    text-align: left;
    padding-left: 35px;
}
button:hover{
    background-color: hsl(0, 0%, 40%);
}
button:active{
    background-color: hsl(0, 0%, 60%);
}
.operator{
    background-color: hsl(0, 81%, 24%);
}
.operator:hover{
    background-color: hsl(0, 81%, 34%);
}
.operator:active{
    background-color: hsl(0, 81%, 44%);
}
#error-message{
    color: hsl(0, 81%,39%);
    font-size: 1.5rem;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 20px;
    padding: 25px;
}

#calculator{
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}

#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 20%);
    color: white;
}

body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 40%);

}